@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,

.brand,
a,
.td-name,
td,
button,
input,
select,
textarea {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    font-weight: 300;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    margin: 30px 0 0;
}

h1,
.h1 {
    font-size: 3.6em;
}

h2,
.h2 {
    font-size: 2.8em;
}

h3,
.h3 {
    font-size: 1.825em;
    line-height: 1.4;
    margin: 20px 0 0px;
}

h4,
.h4 {
    font-size: 1.6em;
    line-height: 1.2em;
}

h5,
.h5 {
    font-size: 1.35em;
    line-height: 1.4em;
}

h6,
.h6 {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5em;
}

p {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 5px;
}

.page-header1 {
    background-color: #b2afab;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-header1 .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.page-header1.page-header1-small {
    min-height: 65vh !important;
    max-height: 700px;
}
.page-header1.page-header-xs {
    min-height: 40vh !important;
}
.page-header1.section-dark .content-center,
.page-header1.section-dark .category-absolute {
    z-index: 1;
}

.page-header1 .motto {
    text-align: left;
    z-index: 3;
    color: #fff;
    position: relative;
}
.page-header1{
  scale: 0.9;
  border-radius: 20px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header1:hover::before {
  left: 100%;
}
.logo {
  color: #000000;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}
.navbar a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  margin-right: 35px;
  transition: 0.3s;
}
.navbar a:hover {
  color: #f00;
}
#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}
/* BREAKPOINTS */
@media (max-width: 992px) {
  .header1 {
    padding: 1.25rem 4%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }
  .nav-bg {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }
  .nav-bg.active {
    display: block;
  }
}

.title-brand .type {
    position: absolute;
    font-size: 20px;
    background: #132026;
    padding: 6px 10px;
    border-radius: 4px;
    top: 0;
    font-weight: 600;
    margin-top: 10px;
    right: -15px;
}

.presentation-title {
    font-size: 8em;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    background: #fbf8ec;
    background: -moz-linear-gradient(top, #ffffff 35%, #4e6773 100%);
    background: -webkit-linear-gradient(top, #ffffff 35%, #4e6773 100%);
    background: linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presentation-subtitle {
    font-size: 1.7em;
    color: #ffffff;
}

.category-absolute {
    position: absolute;
    text-align: center;
    top: 100vh;
    margin-top: -60px;
    padding: 0 15px;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
}
.category-absolute .creative-tim-logo {
    max-width: 140px;
    top: -2px;
    left: 3px;
    position: relative;
}

.fog-low {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -35%;
    margin-bottom: -50px;
    width: 110%;
    opacity: 0.85;
}
.fog-low img {
    width: 100%;
}
.fog-low.right {
    margin-left: 30%;
    opacity: 1;
}

.page-header1 .content-center {
    margin-top: 85px;
}

.moving-clouds {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 250.625em;
    height: 430.75em;
    -webkit-animation: cloudLoop 1s linear infinite;
    animation: cloudLoop 20s linear infinite;
}

@keyframes cloudLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}
.following img {
    max-width: 70px;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.tim-title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}
.tim-title.text-center {
    margin-bottom: 50px;
}
.typography-line {
    padding-left: 180px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.typography-line .note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row {
    padding-top: 50px;
}
.tim-row h3 {
    margin-top: 0;
}
.switch {
    margin-right: 20px;
}

.space {
    height: 130px;
    display: block;
}
.space-110 {
    height: 110px;
    display: block;
}
.space-50 {
    height: 50px;
    display: block;
}
.space-70 {
    height: 70px;
    display: block;
}
.navigation-example .img-src {
    background-attachment: scroll;
}


.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.container-right-click h4 {
    color: white;
    margin-top: 45px;
    font-weight: 200;
    margin-bottom: 0;
}
.icon-class {
    fill: #75c3b6;
}

.download-area {
    margin-top: 30px;
}
.sharing-area {
    margin-top: 50px;
}
.sharing-area .btn {
    margin-top: 14px;
}

/* nucleo icons  */

.demo-iconshtml {
    font-size: 62.5%;
}
.demo-icons body {
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #333333;
    background: white;
}
.demo-icons a {
    color: #608cee;
    text-decoration: none;
}
.demo-icons header1 {
    text-align: center;
    padding: 100px 0 0;
}
.demo-icons header1 h1 {
    font-size: 2.8rem;
}
.demo-icons header1 p {
    font-size: 1.4rem;
    margin-top: 1em;
}
.demo-icons header1 a:hover {
    text-decoration: underline;
}
.demo-icons .nc-icon {
    font-size: 34px;
}
.demo-icons section {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}
.demo-icons section h2 {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 1em 0.2em;
    margin-bottom: 1em;
}
.demo-icons ul::after {
    clear: both;
    content: "";
    display: table;
}
.demo-icons ul li {
    width: 25%;
    float: left;
    padding: 16px 0;
    text-align: center;
    border-radius: 0.25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
.demo-icons ul li:hover {
    background: #f4f4f4;
}
.demo-icons ul p,
.demo-icons ul em,
.demo-icons ul input {
    display: inline-block;
    font-size: 1rem;
    color: #999999;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.demo-icons ul p {
    padding: 20px 0 0;
    font-size: 12px;
    margin: 0;
}
.demo-icons ul p::selection,
.demo-icons ul em::selection {
    background: #608cee;
    color: #efefef;
}
.demo-icons ul em {
    margin-bottom: 8px;
    font-size: 12px;
}
.demo-icons ul em::before {
    content: "[";
}
.demo-icons ul em::after {
    content: "]";
}
.demo-icons ul input {
    text-align: center;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    display: none;
}

@media only screen and (min-width: 768px) {
    .demo-icons ul li {
        width: 20%;
        float: left;
    }
}
@media only screen and (min-width: 1024px) {
    .demo-icons ul li {
        width: 12.5%;
        float: left;
        padding: 32px 0;
    }
}

/* for components and tutorial page */
/*pre.prettyprint{
          background-color: #FFFCF5;
          border: 0px;
          margin-bottom: 0;
          margin-top: 20px;
          padding: 20px;
          text-align: left;
      }*/
.atv,
.str {
    color: #75c3b6;
}
.tag,
.pln,
.kwd {
    color: #7a9e9f;
}
.atn {
    color: #68b3c8;
}
.pln {
    color: #333;
}
.com {
    color: #999;
}
.space-top {
    margin-top: 30px;
}
.area-line {
    /*border: 1px solid #999;*/
    border-left: 0;
    border-right: 0;
    color: #666;
    display: block;
    margin-top: 20px;
    padding: 8px 0;
    text-align: center;
}
.area-line a {
    color: #666;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.example-pages {
    margin-top: 50px;
}
.main .section:first-of-type {
    position: relative;
    z-index: 2;
    
}
.profile-content {
    padding-top: 0;
    position: relative;
    z-index: 2;
}


.swiper-slide{
 scale: 0.9;
 border-radius: 20PX;
}




button {
    margin: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  label {
    cursor: pointer;
  }
  
  .btn_menu {
    position: fixed;
    top: 5dvh;
    left: 10dvh;
    width: 40px;
    height: 40px;
    z-index: 99;
    transition: 0.8s ease-in;
  }
  
  .btn_animation {
    position: fixed;
    top: 50%;
    right: 2.2dvh;
    transform: translateY(-50%);
    z-index: 99;
    width: 60px;
    height: 60px;
    transition: 0.2s ease-in;
  }
  .btn_animation:hover, .btn_animation:focus {
    filter: brightness(1.2);
  }
  
  .btn_animation svg {
    transition: 0.8s ease-in;
    transform: rotate(0);
  }
  
  .btn_animation__checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  .header1_wrapper {
    position: relative;
    margin-left: 38dvh;
    top: 10dvh;
    transition: 0.8s ease-in;
  }
  
  .header1_title {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-size: 90px;
    line-height: 80px;
    margin: 0;
    color: #2F3138;
    max-width: 270px;
    background-color: #fff;
    z-index: 10;
  }
  @media screen and (max-height: 470px) {
    .header1_title {
      font-size: 50px;
      line-height: 60px;
    }
  }
  
  .header_subtitle {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    margin-top: 2vh;
    color: #A6A6AE;
    display: inline;
    background-color: #fff;
    z-index: 10;
  }
  @media screen and (max-height: 470px) {
    .header_subtitle {
      font-size: 24px;
    }
  }
  
  .main {
    position: relative;
    height: 100dvh;
    margin: 0;
    display: flex;
    overflow: hidden;
  }
  
  .main_section {
    position: relative;
    z-index: 3;
    display: inline-block;
    min-width: calc(100vw - 10%);
    margin: 0 5%;
    height: 100%;
    transition: 0.8s ease-in;
    transform: translateX(0);
  }
  
  .header1_wrapper {
    height: 50%;
  }

  .main_image {
    position: fixed;

    top: -10%;
    right: 3%;
    max-height: 80dvh;
    object-fit: contain;
    transition: 0.8s ease-in;
    transform: translate(0%, 0%) rotate(0deg);

  }

  .recipe_footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
    padding-bottom: 10dvh;
  }
  
  .subtitle {
    color: #2F3138;
    font-weight: 700;
    font-size: 18px;
  }
  
  .recipe_controls {
    transition: 0.8s ease-in;
    width: 38dvh;
  }
  
  .animation_hide {
    transition: 0.8s ease-in;
    opacity: 0;
  }
  
  .recipe_list {
    margin-top: 10px;
  }
  
  .recipe_controls dd {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .recipe_controls dd span {
    margin-left: 10px;
  }
  
  .recipe_ingredients {
    margin-right: auto;
    transition: 0.8s ease-in;
    height: calc(100% + 10dvh);
    overflow-y: auto;
    padding-right: 10px;
  }
  
  .recipe_list {
    padding-left: 18px;
  }
  
  .recipe_list li:not(:last-child) {
    margin-bottom: 4px;
  }
  
  .ingredients {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-end;
    transition: 0.8s ease-in;
    transform-origin: 100% 50%;
    transform: rotate(0);
  }
  
  .ingredients_item {
    position: relative;
    transition: 0.8s ease-in;
    margin: 0 2vw;
    z-index: 2;
  }
  
  .ingredients_item img {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    object-fit: cover;
    box-shadow: 5px 17px 16px 0 rgba(0, 0, 0, 0.1);
    transition: 0.8s ease-in;
    z-index: 2;
  }
  
  .ingredients_item figcaption {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    transition: 0.8s ease-in;
  }
  
  .main_video {
    display: inline-block;
    background-color: #2F3138;
    color: #fff;
    width: 100vw;
  }
  
  .steps_list {
    position: absolute;
    left: 17vw;
    bottom: 20px;
    width: 30vw;
    height: 58dvh;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 5px;
    margin: 0;
    z-index: -1;
    opacity: 0;
  }
  .steps_list li:not(:first-child) {
    margin-top: 8dvh;
  }
  .steps_list b {
    display: block;
    font-size: 22px;
    line-height: 1.2;
    margin: 15px 0;
    color: #000;
    font-weight: bold;
    mix-blend-mode: multiply;
  }
  .steps_list p {
    color: #9b9ca2;
    margin-bottom: 5px;
    line-height: 1.5;
  }
  
  .video_box {
    position: absolute;
    right: -30vw;
    top: 0;
    width: 30vw;
    height: 100%;
    z-index: 2;
    will-change: transform;
    transform: translateX(0);
  }
  .video_box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: #2F3138;
    will-change: transform;
    transform: translateX(0);
    z-index: 2;
  }
  
  .video_box__wrap {
    height: 100%;
  }
  
  .video_box video {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: inherit;
    object-fit: cover;
  }
  
  .recipe_ingredients::-webkit-scrollbar,
  .steps_list::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(26, 24, 47, 0.15);
    border-radius: 5px;
    height: 200px;
  }
  .recipe_ingredients::-webkit-scrollbar-thumb,
  .steps_list::-webkit-scrollbar-thumb {
    background: #53545B;
    border-radius: 5px;
  }
  
  .btn_animation__checkbox:checked + .btn_animation svg {
    transition: 0.8s ease-in;
    transform: rotate(180deg);
  }
  
  .btn_animation__checkbox:checked ~ .btn_menu {
    filter: invert(1);
    transition: 0.8s ease-in;
  }
  
  .btn_animation__checkbox:checked ~ .main .steps_list {
    opacity: 1;
    transition: 0.3s ease-in 0.8s;
    z-index: 4;
  }
  .btn_animation__checkbox:checked ~ .main .steps_list b {
    transition: 0.8s ease-in 1.6s;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  .btn_animation__checkbox:checked ~ .main .ingredients {
    position: relative;
    transition: 0.8s ease-in;
    transform: translate(-25%, 75%) rotate(90deg);
    z-index: 5;
  }
  .btn_animation__checkbox:checked ~ .main .ingredients .ingredients_item {
    margin: 0.8dvh 0.3dvh;
  }
  .btn_animation__checkbox:checked ~ .main .ingredients img {
    transform: rotate(-90deg);
  }
  .btn_animation__checkbox:checked ~ .main .ingredients figcaption {
    transform: translate(-2%, -1040%) rotate(-90deg);
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  .btn_animation__checkbox:checked ~ .main .main_image {
    transform: translate(calc(-120% + 90vw), -30%) rotate(90deg);
  }
  .btn_animation__checkbox:checked ~ .main .main_section {
    transition: 0.8s ease-in;
    transform: translateX(-90%);
  }
  .btn_animation__checkbox:checked ~ .main .video_box {
    transition: 0.8s ease-in;
    transform: translateX(-170%);
  }
  .btn_animation__checkbox:checked ~ .main .video_box:before {
    transition: 0.8s ease-in 1.6s;
    transform: translateX(-100vw);
  }
  
  .presentation-title1 {
    font-size: 4em;
    text-align: center;
    
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  height: 100vh;
  width: 100%;
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}
/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}
@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
}
.scroolimg{

    --_gap: .5rem;
    --_offset: 10%;
    --_offset-1: calc(var(--_offset) * 1);
    --_offset-2: calc(var(--_offset) * 2);
    --_offset-3: calc(var(--_offset) * 3);
    --_offset-7: calc(var(--_offset) * 7);
    --_offset-8: calc(var(--_offset) * 8);
    --_offset-9: calc(var(--_offset) * 9);
      
    width: calc(100% - 4rem);
    max-width: 800px;
    margin: 2rem auto;
    color: white;
    font-family: "Rubik Wet Paint", system-ui;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 var(--_gap);
    pointer-events: none;
    transform-style: preserve-3d;
  }
  .scroolimg > div{
    position: relative;
    pointer-events: auto;
    aspect-ratio: 1;
    transition: scale 500ms ease-in-out, filter 500ms ease-in-out, clip-path 500ms ease-in-out 500ms;
    clip-path: polygon(var(--_clip-path));
    transform: translate3d(0,0,0);
    
  }
  .scroolimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .scroolimg > div:nth-child(n+4){
   margin-top: calc(var(--_offset-3) * -1 + var(--_gap));
  }
  /* define clip-path custom properties */
  .scroolimg > div:nth-child(1){ --_clip-path: 0 0, 100% 0, 100% var(--_offset-9), 0 100%;}
  .scroolimg > div:nth-child(2){ --_clip-path: 0 0, 100% 0, 100% var(--_offset-8), 0 var(--_offset-9);}
  .scroolimg > div:nth-child(3){ --_clip-path: 0 0, 100% 0, 100% var(--_offset-7), 0 var(--_offset-8);}
    
  .scroolimg > div:nth-child(4){ --_clip-path: 0 var(--_offset-3), 100% var(--_offset-2), 100% var(--_offset-8), 0 var(--_offset-7);}
  .scroolimg > div:nth-child(5){ --_clip-path: 0 var(--_offset-2), 100% var(--_offset-1), 100% var(--_offset-9), 0 var(--_offset-8);}
  .scroolimg > div:nth-child(6){ --_clip-path: 0 var(--_offset-1), 100% 0%, 100% 100%, 0 var(--_offset-9);}
  
  .scroolimg > div:nth-child(7){ --_clip-path: 0 0%, 100% var(--_offset-1), 100% 100%, 0 100%;}
  .scroolimg > div:nth-child(8){ --_clip-path: 0 var(--_offset-1), 100% var(--_offset-2), 100% 100%, 0 100%;}
  .scroolimg > div:nth-child(9){ --_clip-path: 0 var(--_offset-2), 100% var(--_offset-3), 100% 100%, 0 100%;}
  
  
  .scroolimg > div:hover{
    transition: scale 500ms ease-in-out, filter 500ms ease-in-out, clip-path 500ms ease-in-out 500ms;
    scale: 1.3;
    --_clip-path: 0 0, 100% 0, 100% 100%, 0 100%;
    z-index: 100;
    opacity: 1;
  }
  
  .scroolimg:has(:hover) > div:not(:hover){
    filter: grayscale(1) blur(3px);
    opacity: .5;
    scale: 0.9;
  }
  .scroolimg > div:not(:hover) {
    /*animation: zIndexHack 1000ms;*/
  
  }
  
  @keyframes zIndexHack {
    0%, 100% { z-index: 100; }
  }
  /* none of this CSS is relevant to the wave animation */
  :root{
    --clr-bg: #222;
    --clr-txt: #F5F5F5;
    --clr-primary: #F5F5F5;
    --clr-secondary: #38BDF8;
    --clr-button: #0369A1;
  }
  
  
  h1{
    padding-top: 40px;
    font-size: 3rem;
    font-weight: 500;
    margin-block-end: 1rem;
    text-align: center;
   color: white;
  }
  code{
    color: var(--clr-secondary);
    border: 1px solid rgba(from var(--clr-secondary) r g b / .25);
    padding-inline: .25rem;
    border-radius: 5px;
  }